<header>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ path('dashboard') }}" class="navbar-brand">
                    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                    Shopping List
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="{{ path('app.recipe') }}">Toutes les recettes</a></li>
                        <li><a href="{{ path('app.user.list') }}">Tous les utilisateurs</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ app.user.avatar }}" width="20" class="img--circle">{{ app.user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('app.recipe.my') }}">Mes recettes</a></li>
                                <li><a href="{{ path('app.shopping_list') }}">Mes listes de courses</a></li>
                                <li><a href="{{ path('app.user.friends') }}">Mes amis</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('app.user.profile') }}">Profil</a></li>
                                <li><a href="{{ path('app.security.logout') }}">Déconnexion</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('app.security.login') }}">Connexion</a></li>
                        <li><a href="#">Créer un compte</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>


    {#{% include '@App/navigation.html.twig' %}#}
</header>