<div class="c-panel widget">
    <div class="c-panel__actions">
        <a href="{{ path('app.recipe.create', {'id': recipe.id}) }}" class="btn btn-sm btn-default js-add-recipe-to-shoppinglist-trigger" data-id="{{ recipe.id }}"><i class="glyphicon glyphicon-ok-sign"></i></a>
    </div>

    <img class="widget__img widget__img--responsive" src="{{ recipe.webPath }}" alt="">
    <div class="c-panel__body widget__body">
        <p>
            <a href="{{ path('app.recipe.read', {'id': recipe.id}) }}">{{ recipe.name }}</a>
        </p>
        <p>
            {{ recipe.people }} personnes
        </p>
    </div>
</div>