{% extends 'base.html.twig' %}

{% block base_stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    {% stylesheets
    filter="compass"
    "@AppBundle/Resources/themes/minton/compass/*.scss"
    "@AppBundle/Resources/public/compass/*.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock base_stylesheets %}

{% block base_head_javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
{% endblock base_head_javascripts %}

{% block body %}

    {% include '@App/header.html.twig' %}

    {% for type, flashMessage in app.session.flashbag.all %}
        {% include '@App/flash-message.html.twig' with {'type': type, 'message': flashMessage.0 | raw} %}
    {% endfor %}

    <div class="wrapper">
        {% block content %}
        {% endblock content %}
    </div>

    <div class="voice-feature">
        <div class="form-inline">
            <div class="row">
                <button class="btn trigger fa fa-microphone" id="rec"></button>
                <input type="text" id="speech" class="form-control" placeholder="Click voice button or type here...">
            </div>
            <div id="spokenResponse" class="spoken-response">
                <div class="spoken-response__text"></div>
            </div>
        </div>

        <div class="debug">
            <div class="debug__btn btn">
                Debug JSON results
            </div>
            <div class="debug__content">
                <textarea id="response" cols="40" rows="20"></textarea>
            </div>
        </div>
    </div>

    {#<div class="voice-feature">#}
        {#<input id="speech" type="text">#}
        {#<button id="rec" class="btn">Speak</button>#}
        {#<div id="spokenResponse" class="spoken-response">#}
            {#<div class="spoken-response__text"></div>#}
        {#</div>#}

        {#<div class="debug">#}
            {#<div class="debug__btn btn">#}
                {#Debug JSON results#}
            {#</div>#}
            {#<div class="debug__content">#}
                {#<textarea id="response" cols="40" rows="20"></textarea>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {% include '@App/footer.html.twig' %}

    {% if app.session.has('app/profile-completion') %}
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="profile-completion-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Complétez votre profil</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Plus tard</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>
        <script type="text/javascript">
            $(function(e) {
                var modal = $('#profile-completion-modal');

                $.get('{{ path('app.user.form.avatar') }}', function( data ) {
                    $( modal ).find('.modal-body').html( data );
//                    alert( "Load was performed." );
                    modal.modal();

                    var form = $(modal).find('form');
                    $(modal).find('button[type=submit]').click(function(e) {
                        console.log('submit');
                        $(form).submit();
                    });
                });


            });
        </script>
    {% endif %}
{% endblock body %}

{% block base_javascripts %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ asset('assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/vendors/bootstrap-touchspin/bootstrap-touchspin.js') }}"></script>

    <script type="text/javascript">
        var accessToken = "40766bc54b544589a01c45e64e068bd3",
                baseUrl = "https://api.api.ai/v1/",
                $speechInput,
                $recBtn,
                recognition,
                messageRecording = "Recording...",
                messageCouldntHear = "I couldn't hear you, could you say that again?",
                messageInternalError = "Oh no, there has been an internal server error",
                messageSorry = "I'm sorry, I don't have the answer to that yet.";

        $(document).ready(function() {
            $speechInput = $("#speech");
            $recBtn = $("#rec");

            $speechInput.keypress(function(event) {
                if (event.which == 13) {
                    event.preventDefault();
                    send($speechInput.val());
                }
            });
            $recBtn.on("click", function(event) {
                switchRecognition();
            });
            $(".debug__btn").on("click", function() {
                $(this).next().toggleClass("is-active");
                return false;
            });

            {% for sessionSpeech in app.request.session.get('speeches') %}
                respond("{{ sessionSpeech | raw }}");
            {% endfor %}
            {{ app.request.session.clear('speeches') }}
        });

        function startRecognition() {
            recognition = new webkitSpeechRecognition();
            recognition.continuous = false;
            recognition.interimResults = false;

            recognition.onstart = function(event) {
                respond(messageRecording);
                updateRec();
            };
            recognition.onresult = function(event) {
                recognition.onend = null;

                var text = "";
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    text += event.results[i][0].transcript;
                }
                setInput(text);
                stopRecognition();
            };
            recognition.onend = function() {
                respond(messageCouldntHear);
                stopRecognition();
            };
//            recognition.lang = "en-US";
            recognition.lang = "fr-FR";
            recognition.start();
        }

        function stopRecognition() {
            if (recognition) {
                recognition.stop();
                recognition = null;
            }
            updateRec();
        }

        function switchRecognition() {
            if (recognition) {
                stopRecognition();
            } else {
                startRecognition();
            }
        }

        function setInput(text) {
            $speechInput.val(text);
            send($speechInput.val());
        }

        function updateRec() {
//            $recBtn.text(recognition ? "Stop" : "Speak");
            $recBtn.removeClass(recognition ? "fa-microphone" : "fa-microphone-slash").addClass(recognition ? "fa-microphone-slash" : "fa-microphone");
        }

        function prepareResponse(speech) {
            var debugJSON = JSON.stringify(speech, undefined, 2);

            respond(speech);
            debugRespond(debugJSON);
        }

        function debugRespond(val) {
            $("#response").text(val);
        }

        function respond(val) {
            if (val == "") {
                val = messageSorry;
            }

            if (val !== messageRecording) {
                var msg = new SpeechSynthesisUtterance();
                msg.voiceURI = "native";
                msg.text = val;
//                msg.lang = "en-US";
                msg.lang = "fr-FR";

                window.speechSynthesis.speak(msg);
            }

            $("#spokenResponse").addClass("is-active").find(".spoken-response__text").html(val);
        }

//        function suggestRecipes()  {
//            var msg = new SpeechSynthesisUtterance();
//            msg.voiceURI = "native";
//            msg.text = "Crêpes bretonnes";
//            msg.lang = "fr-FR";
//
//            window.speechSynthesis.speak(msg);
//        }
    </script>

    {% javascripts
    '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock base_javascripts %}
