{% extends 'base.html.twig' %}

{% block base_stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    {% stylesheets
    filter="compass"
    "@AppBundle/Resources/themes/minton/compass/*.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock base_stylesheets %}

{% block base_head_javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
{% endblock base_head_javascripts %}

{% block body %}

    {% include '@App/header.html.twig' %}

    {% for type, flashMessage in app.session.flashbag.all %}
        {% include '@App/flash-message.html.twig' with {'type': type, 'message': flashMessage.0 | raw} %}
    {% endfor %}

    <div class="wrapper">
        {% block content %}
        {% endblock content %}
    </div>

    {% include '@App/footer.html.twig' %}

{% endblock body %}

{% block base_javascripts %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ asset('assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/vendors/bootstrap-touchspin/bootstrap-touchspin.js') }}"></script>

    {% javascripts
    '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock base_javascripts %}
