{% extends ':default:layout.html.twig' %}

{% block content %}

    <div class="container-fluid">

        <h1>Créer une liste de courses</h1>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {% include '@App/Recipe/search-form.html.twig' with {'form': searchForm} %}
            </div>
            <div class="col-xs-12 col-sm-6">
                {% include '@App/ShoppingList/form.html.twig' %}
            </div>
        </div>

    </div>
{% endblock content %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/vendors/bootstrap-touchspin/bootstrap-touchspin.js') }}"></script>

    <script type="text/javascript">
        function initAutocomplete() {
            $( ".autocomplete" ).autocomplete({
                source: "{{ path('app.recipe.search_by_pattern') }}",
                minLength: 2,
                select: function( event, ui ) {
                    var container = $('#recipes-container');
                    var item_id = ui.item.id;
                    var form = $('#form-shoppinglist');

                    var request = form.serialize() + '&id='+item_id;

                    $.post( "{{ path('app.shopping_list.add_recipe') }}", request)
                    .done(function( data ) {
                        var recipes = $(data).find('#recipes-container').html();
                        container.html(recipes);

                        init();
                    });

//                    return false;
                }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                .append( "<a>" + item.name + "</a>" )
                .appendTo( ul );
            }
            ;
        }

        function initTouchSpin() {
            $(".touchspin").TouchSpin({
                buttondown_class: "btn btn-primary",
                buttonup_class: "btn btn-primary"
            });
        }

        function init() {
            initAutocomplete();
            initTouchSpin();
        }

        $(function(e) {
            init();

            $(document)
            /**
             * Add recipe event
             */
            .on('click', '.js-add-recipe-to-shoppinglist-trigger', function(e) {
                e.preventDefault();

                var container = $('#recipes-container');
                var item_id = $(this).data('id');
                var form = $('#form-shoppinglist');

                var request = form.serialize() + '&id='+item_id;

                $.post( "{{ path('app.shopping_list.add_recipe') }}", request)
                .done(function( data ) {
                    var recipes = $(data).find('#recipes-container').html();
                    container.html(recipes);

                    initTouchSpin();
                });
            })
            /**
             * Delete recipe event
             */
            .on('click', '.js-remove-recipe-from-shoppinglist-trigger', function(e) {
                e.preventDefault();
                $(this).parents('.js-recipe-container').fadeOut('slow', function(e) {
                    $(this).remove();
                });
            })
            /**
             * Random recipes event
             */
            .on('click', '#js-random-recipes-trigger', function(e) {
                e.preventDefault();
                $('#js-accept-random-recipes-trigger').attr('disabled', 'disabled').removeClass('btn-primary');

                $.getJSON( "{{ path('app.recipe.random') }}", function( data ) {
                    var container = $('#random-container');
                    container.html('');
                    $.each( data, function( key, recipe ) {
                        $.get(Routing.generate('app.recipe.widgetize', { id: recipe.id }), function(widget) {
                            $('<div/>', {
                                'class': 'col-xs-12 col-sm-6',
                                'html': widget
                            }).appendTo(container);
                        });
                    });
                })
                .done(function() {
                    $('#js-accept-random-recipes-trigger').attr('disabled', false).addClass('btn-primary');
                })
                ;
            })
            .on('click', '#js-accept-random-recipes-trigger', function(e) {

            })
            ;
        });

    </script>
{% endblock javascripts %}