<div class="c-panel c-panel--default">
    <div class="c-panel__heading">
        <h2 class="c-panel__title">Ma liste</h2>
    </div>
    <div class="c-panel__body">
        {{ form_start(form, {'attr': {'id': 'form-shoppinglist'}}) }}

            <div id="recipes-container" class="row recipes" data-prototype="{% filter escape %}{{ include('@App/Recipe/widgets/recipe-prototype.html.twig', { 'form': form.recipes.vars.prototype }) }}{% endfilter %}">
                {% for recipe in form.recipes %}
                    <div class="col-sm-6 js-recipe-container">
                        {{ include('@App/Recipe/widgets/recipe-prototype.html.twig', { 'form': recipe }) }}
                    </div>
                {% endfor %}
            </div>

            <hr />

            <input type="submit" value="Valider" class="btn btn-primary">
            {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</div>