{% extends ':default:layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}

    {{ form_errors(form) }}
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{ form_label(form.email.first) }}
                {{ form_widget(form.email.first) }}
                {{ form_errors(form.email.first) }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ form_label(form.email.second) }}
                {{ form_widget(form.email.second) }}
                {{ form_errors(form.email.second) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </div>
    </div>

    <input type="submit" class="btn btn-default" value="Register">
    {{ form_end(form) }}
{% endblock content %}